@import "../../styles/constants";
.home-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    .btn-players {
        width: 100%;
        padding: 1rem 1.25rem;
        border-radius: 0%;
        border-width: 2px;
        font-size: 1.125rem;
        color: $pink-color;
        border-color: $pink-color;
        text-transform: uppercase;
        &:active,
        &:hover {
            color: $light-color;
            background-color: $pink-color;
            border-color: $pink-color;
        }
        &:first-child {
            margin-bottom: 2rem;
        }
        &:last-child {
            margin-top: 2rem;
        }
        &.purple {
            color: $purple-color;
            border-color: $purple-color;
            &:active,
            &:hover {
                color: $light-color;
                background-color: $purple-color;
                border-color: $purple-color;
            }
        }
        @media (min-width: 768px) {
            padding: 1.25rem 2rem;
            font-size: 2.125rem;
            border-width: 3px;
            &:first-child {
                margin-bottom: 4rem;
            }
            &:last-child {
                margin-top: 4rem;
            }
        }
    }
}