@import "../../styles/_constants";
.play-game {
    position: relative;
    display: flex;
    /* establish flex container */
    flex-wrap: wrap;
    /* enable flex items to wrap */
    justify-content: space-around;
    // justify-content: center;
    .grid-cell {
        flex: 0 0 33.333333%;
        /* don't grow, don't shrink, width */
        height: auto;
        margin: 0px;
        padding: 0;
        border: 1px solid transparent;
        &:nth-child(1) {
            border-right: 1px solid $light-color;
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(2) {
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(3) {
            border-left: 1px solid $light-color;
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(4) {
            border-right: 1px solid $light-color;
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(5) {
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(6) {
            border-left: 1px solid $light-color;
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(7) {
            border-right: 1px solid $light-color;
        }
        &:nth-child(9) {
            border-left: 1px solid $light-color;
        }
        .btn-grid {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            background-color: transparent;
            .light-icon {
                position: absolute;
                font-size: 4rem;
                color: $light-color;
                visibility: hidden;
                opacity: 0;
                transition: all 0.3s ease-in-out 0s;
                &.show {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
    .winning-stroke-horizontal {
        position: absolute;
        background-color: $purple-color;
        top: 16.66666666%;
        width: 100%;
        height: 3px;
        transition: width 2s, height 4s;
        &.strike-ha {
            left: 16%;
            width: 100%;
            height: 3px;
        }
        &.strike-hb {
            width: 100%;
            height: 3px;
        }
        &.strike-hb {
            left: 83%;
            width: 100%;
            height: 3px;
        }
    }
    .winning-stroke-vertical {
        position: absolute;
        background-color: $purple-color;
        top: 0;
        bottom: 0;
        width: 0px;
        height: 0%;
        transition: width 2s, height 4s;
        &.strike-va {
            left: 16%;
            width: 3px;
            height: 100%;
        }
        &.strike-vb {
            width: 3px;
            height: 100%;
        }
        &.strike-vb {
            left: 83%;
            width: 3px;
            height: 100%;
        }
    }
    .winning-stroke-diagonal {
        position: absolute;
        background-color: $purple-color;
        top: 50%;
        width: 150%;
        height: 3px;
        transform: rotate(55deg);
        transform-origin: 50% 50% 0;
    }
}