@import "../../styles/_constants";
.play-game {
    display: flex;
    /* establish flex container */
    flex-wrap: wrap;
    /* enable flex items to wrap */
    justify-content: space-around;
    // justify-content: center;
    .grid-cell {
        flex: 0 0 33.333333%;
        /* don't grow, don't shrink, width */
        height: auto;
        margin: 0px;
        padding: 0;
        border: 1px solid transparent;
        &:nth-child(1) {
            border-right: 1px solid $light-color;
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(2) {
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(3) {
            border-left: 1px solid $light-color;
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(4) {
            border-right: 1px solid $light-color;
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(5) {
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(6) {
            border-left: 1px solid $light-color;
            border-bottom: 1px solid $light-color;
        }
        &:nth-child(7) {
            border-right: 1px solid $light-color;
        }
        &:nth-child(9) {
            border-left: 1px solid $light-color;
        }
        .grid-container {
            height: 100%;
            background-color: blue;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}