<div class="play-game w-100 h-75">
    <div *ngFor="let cell of cells; let i = index" id="cell-{{i}}" class="grid-cell">
        <button class="btn bnt-link btn-block btn-grid" (click)="play(i)" [disabled]="firstPlayed[i] || secondPlayed[i]">
            <i class="fa fa-times game-icon X-icon" aria-hidden="true" [ngClass]="{'show': firstPlayed[i]}"></i>
            <i class="fa fa-circle-o game-icon O-icon" aria-hidden="true" [ngClass]="{'show': secondPlayed[i]}"></i>
        </button>
    </div>
    <div class="winning-stroke-vertical {{color}}" [ngClass]="{'strike-va': p0v, 'strike-vb': p1v, 'strike-vc': p2v}"></div>
    <div class="winning-stroke-horizontal {{color}}" [ngClass]="{'strike-ha': p0h, 'strike-hb': p3h, 'strike-hc': p6h}"></div>
    <div class="winning-stroke-diagonal {{color}}" [ngClass]="{'strike-45': p0d, 'strike-135': p6d}"></div>
</div>

<ng-template #results>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    <div class="modal-body">
        This is a modal.
    </div>
</ng-template>