@import "../../styles/_constants";
.player-forms {
    .h4 {
        font-size: 2rem;
        line-height: 2rem;
    }
    .form-control {
        background-color: transparent;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid $light-color;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $light-color;
        &:active,
        &:focus,
        &:visited {
            box-shadow: none;
            border-bottom: 2px solid $pink-color;
        }
        &::-webkit-input-placeholder {
            color: rgba($color: $light-color, $alpha: 0.25);
        }
        &::-moz-placeholder {
            color: rgba($color: $light-color, $alpha: 0.25);
        }
        &:-ms-input-placeholder {
            color: rgba($color: $light-color, $alpha: 0.25);
        }
        &:-moz-placeholder {
            color: rgba($color: $light-color, $alpha: 0.25);
        }
    }
    hr {
        border-top: 1px solid rgba($color: $light-color, $alpha: 0.25);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .message {
        display: block;
        font-size: 1rem;
        color: $pink-color;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;
        &.show-message {
            visibility: visible;
            opacity: 1;
        }
    }
    .bnt-submit {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        height: auto;
        margin-top: 3rem;
        border-radius: 0;
        border: 2px solid $light-color;
        font-size: 1.5rem;
        text-transform: uppercase;
        color: $light-color;
        &:hover,
        &:active,
        &:focus {
            border: 2px solid $purple-color;
            color: $purple-color;
            box-shadow: none;
        }
        .light-icon {
            color: $light-color;
            font-size: 2rem;
            line-height: 2rem;
            margin-right: 2rem;
            transition: color 0.3s ease-in-out 0s;
        }
        .purple {
            color: $purple-color;
        }
    }
}