@import "../../styles/constants";
.player-forms {
    .h4 {
        font-size: 2rem;
        line-height: 2rem;
    }
    .form-control {
        background-color: transparent;
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 2px solid $light-color;
        font-size: 1.5rem;
        line-height: 1.5rem;
        color: $light-color;
        &:active,
        &:focus,
        &:visited {
            box-shadow: none;
            &.first-player {
                border-bottom: 2px solid $pink-color;
            }
            &.second-player {
                border-bottom: 2px solid $purple-color;
            }
        }
        &::-webkit-input-placeholder {
            color: rgba($color: $light-color, $alpha: 0.25);
        }
        &::-moz-placeholder {
            color: rgba($color: $light-color, $alpha: 0.25);
        }
        &:-ms-input-placeholder {
            color: rgba($color: $light-color, $alpha: 0.25);
        }
        &:-moz-placeholder {
            color: rgba($color: $light-color, $alpha: 0.25);
        }
    }
    hr {
        border-top: 1px solid rgba($color: $light-color, $alpha: 0.25);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .message {
        display: block;
        font-size: 1rem;
        color: $pink-color;
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out 0s;
        &.show-message {
            visibility: visible;
            opacity: 1;
        }
    }
    .btn-players {
        width: 100%;
        padding: 1rem 1.25rem;
        border-radius: 0%;
        border-width: 2px;
        font-size: 1.125rem;
        color: $pink-color;
        border-color: $pink-color;
        &:active,
        &:hover {
            color: #fff;
            background-color: $pink-color;
            border-color: $pink-color;
        }
        &:first-child {
            margin-bottom: 2rem;
        }
        &:last-child {
            margin-top: 2rem;
        }
        @media (min-width: 768px) {
            padding: 1.25rem 2rem;
            font-size: 2.125rem;
            border-width: 3px;
            &:first-child {
                margin-bottom: 4rem;
            }
            &:last-child {
                margin-top: 4rem;
            }
        }
    }
}