<div class="player-forms">
    <span class="text-uppercase">first player  </span>
    <i class="fa fa-times purple-icon" aria-hidden="true"></i>

    <input type="text" class="form-control" id="first-player" placeholder="first player" required [(ngModel)]="firstPlayer">

    <button type="button" class="btn btn-default" (click)="submitFirstPlayer()">Create First Player</button>

    <br /><br /><br />
    <span class="text-uppercase">second player  </span>
    <i class="fa fa-circle-o purple-icon" aria-hidden="true"></i>
    <input type="text" class="form-control" id="second-player" placeholder="second player" required [(ngModel)]="secondPlayer">
    <br /><br /><br />
    <button type="button" class="btn btn-default" (click)="submitSecondPlayer()">Create Second Player</button>
</div>