<div class="player-forms">
    <p class="text-uppercase mb-0">first player </p>
    <input type="text" class="form-control" placeholder="X" [(ngModel)]="firstPlayer.name" (ngModelChange)="firstPlayer.validatePlayer($event)" name="firstPlayer.name">
    <span class="message" [ngClass]="{'show-message': !firstPlayer.validator}"> * field is required </span>
    <button type="button" class="btn btn-light btn-block bnt-submit" [disabled]="!firstPlayer.validator" (click)="submitPlayer(firstPlayer.name, 1)"> 
        <i class="fa fa-times purple-icon" aria-hidden="true"></i> player
    </button>

    <hr>

    <p class="text-uppercase mt-4 mb-0">second player </p>
    <input type="text" class="form-control" placeholder="O" [(ngModel)]="secondPlayer.name" (ngModelChange)="secondPlayer.validatePlayer($event)" name="secondPlayer.name">
    <span class="message" [ngClass]="{'show-message': !secondPlayer.validator}"> * field is required </span>
    <button type="button" class="btn btn-light btn-block bnt-submit" [disabled]="!secondPlayer.validator" (click)="submitPlayer(firstPlayer.name, 2)">  
        <i class="fa fa-circle-o purple-icon" aria-hidden="true"></i> player
    </button>
</div>